<h1>Lista de Productos</h1>
{{#if user}}
  <p>Bienvenido, {{user.email}} (Rol: {{user.role}})</p>
  <button onclick="logout()">Cerrar Sesión</button>
{{/if}}


{{#each products}}
  <div>
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>Precio: ${{price}}</p>
    <button onclick="addToCart('{{_id}}', '{{cartId}}')">Agregar al Carrito</button>
  </div>
{{/each}}

<script>

  function logout() {
    fetch('/logout', {
      method: 'GET',
    })
    .then(response => response.json())
    .then(data => {
      console.log(data)
      if (data.success) {
        window.location.href = '/login';
      } else {
        console.error('Error al cerrar sesión:', data.error);
      }
    })
    .catch(error => {
      console.log(error)
      console.error('Error al cerrar sesión:', error);
    });
  }
</script>
